*.jar
*.mrpack
*.txt
*_backup.toml
index_contaminado_backup.toml
index_con_extras_backup.toml

config/
data/
resourcepacks/
defaultconfigs/
logs/
crash-reports/
screenshots/
saves/
journeymap/
.physics_mod_cache/
Distant_Horizons_server_data/
server-resource-packs/
CustomSkinLoader/
shaderpacks/
texturepacks/
coremods/
moonlight-global-datapacks/
patchouli_books/
trees/

mods/.connector/

options.txt
servers.dat
servers.dat_old
usercache.json
usernamecache.json
TrashSlotSaveState.json
patchouli_data.json
icon.png

mods/.index/
